{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <h3>Username:</h3>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <!-- the login form goes here -->   
            <input  name="userName" pattern="[a-zA-Z0-9!$#&]+" title="Only letters, numbers, !$#& are allowed" required>   
            <button type="submit">Login</button>
        </form>
    </section>

    <!-- say --OR-- ... with style -->
    <div id="or">-OR-</div>

    <section class = "register-area">
        <h2>Register</h2>
        <h3>Username:</h3>
        <!-- errors will appear here -->
        {{#if regError}}
            <p style="color: red;">{{regError}}</p>
        {{/if}}
        <form action="/register" method="POST">
            <!-- the registration form goes here -->
            <title>Username:</title>
            <input  name="userName" pattern="[a-zA-Z0-9!$#&]+" title="Only letters, numbers, !$#& are allowed" required>
            <button type="submit">Register</button>
        </form>

    </section>
</section>